@{
    var year = DateTime.Now.Year;
    var lastYear = year - 1;
}
<h3>Investment Analysis</h3>
<div style="display: inline-block">
    <select id="displayYear" class="form-control" style="display: inline-block; float: left; width: 130px">
        <option selected="selected" value="@year">@year</option>
        <option value="@lastYear">@lastYear</option>
    </select>
</div><br/>

<div class="panel panel-success" style="width: 30%; display: inline-block">
    <div class="panel-heading">Total Amount of investment</div>
    <div class="panel-body">
        <h4 id="totalAmount">loading...</h4>
    </div>
</div>
<div class="panel panel-info" style="width: 30%; display: inline-block">
    <div class="panel-heading">Total No. of members who have investments</div>
    <div class="panel-body">
        <h4 id="usersWith">loading...</h4>
    </div>
</div>
<div class="panel panel-danger" style="width: 30%; display: inline-block">
    <div class="panel-heading">Total No. of members with no investments at all</div>
    <div class="panel-body">
        <h4 id="usersWithout">loading...</h4>
    </div>
</div>
<div class="panel panel-success" style="width: 30%; display: inline-block">
    <div class="panel-heading">The top 10 investors</div>
    <div class="panel-body">
        <div id="topTen">loading...</div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#displayYear').on("change", function () {
            wams.accounting.showInvestmentData($(this).val());
        });
        wams.accounting.showInvestmentData($('#displayYear').val());
    });
</script>