<h3>Total Monthly Dues</h3>
<div class="panel panel-success" style="width: 30%; display: inline-block">
    <div class="panel-heading">Total Monthly Dues</div>
    <div class="panel-body">
        <h4 id="totalAmount"></h4>
    </div>
</div>
<div class="panel panel-info" style="width: 30%; display: inline-block">
    <div class="panel-heading">No. of users who have paid every month</div>
    <div class="panel-body">
        <h4 id="usersWithFullDues"></h4>
    </div>
</div>
<div class="panel panel-danger" style="width: 30%; display: inline-block">
    <div class="panel-heading">No. of users with no dues at all</div>
    <div class="panel-body">
        <h4 id="usersWithNoDues"></h4>
    </div>
</div>
