body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

  .navbar-default {
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7 !important;
}
  button.navbar-toggle {
    border-color: #777777 !important;
}
  .icon-bar {
    background-color: #777777 !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nomax-width {
    max-width: none;
}

#findRideForm {
    margin-top: 10px;
}

    #findRideForm input, #findRideForm a {
        display: inline;
    }

    #findRideForm a {
        display: inline-block;
    }
    #findRideForm .offerRideBtn {
        margin-left: 50px;
    }

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}