@model Wams.DomainObjects.Authentication.LoginRequest

@using (Html.BeginForm("UploadPhoto", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        <br />
        <div class="panel panel-danger">
            <div class="panel-heading">Upload profile photo</div>
            <div class="panel-body">
                <input type="file" value="Browse" id="file" name="file" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
