@model Tuple<string>
    <br />
    <div class="panel panel-info">
        <div class="panel-heading">Your membership type</div>
        <div class="panel-body">
            @Model.Item1
        </div>
    </div>
