@using Wams.Web.Models
@model Wams.Web.Models.BaseResponse
<br />
<div class="container">
    @{
        if (Model.Status == BaseResponseStatus.Success)
        {
            <div class="alert alert-success">
                <p>
                    <strong>congratulations!!!</strong> Your password is changed successfully.
                </p>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <p>
                    <strong>Error occurred!</strong> Your password was not successfully changed.
                </p>
                <div>Please @Html.ActionLink("try again.", "ChangePassword", "Auth")</div>
            </div>
        }
    }
</div>

