<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Wams.Interfaces.IAuthentication, Wams.Interfaces" mapTo="Wams.BusinessLogic.AuthenticationLogic, Wams.BusinessLogic" />
    <register type="Wams.Interfaces.IAccount, Wams.Interfaces" mapTo="Wams.BusinessLogic.AccountLogic, Wams.BusinessLogic" />
    <register type="Wams.Interfaces.IAdminLogic, Wams.Interfaces" mapTo="Wams.BusinessLogic.AdminLogic, Wams.BusinessLogic" />
    <register type="Wams.Common.Logging.ILogProvider, Wams.Common" mapTo="Wams.Common.Logging.LogProvider, Wams.Common" />
    
    
    <!-- REPOSITORIES -->
    <register type="Wams.DAL.Interfaces.IAccountRepository, Wams.DAL" mapTo="Wams.DAL.Repositories.AccountRepository, Wams.DAL" />
    <register type="Wams.DAL.Interfaces.IAdminRepository, Wams.DAL" mapTo="Wams.DAL.Repositories.AdminRepository, Wams.DAL" />
  </container>

</unity>
