@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="alert alert-success">
    <strong>Get an intelligent,</strong> fully-managed investment account
</div>

<h3>This System gives you the following benefits:</h3>
<ol class="round">
    <li class="one">
        <h5>Online Account</h5>
        With an online account, you can manage your details whenever you like
    </li>

    <li class="two">
        <h5>Online Access</h5>
        Deposit and Withdraw couldn't be any easier.
    </li>

    <li class="three">
        <h5>View Statements</h5>
        Access to your statement is paperless.
    </li>
</ol>