<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Wams.Interfaces.IAuthentication, Wams.Interfaces" mapTo="Wams.DomainService.AuthenticationService, Wams.DomainService" />

    <!-- REPOSITORIES -->
    <register type="Wams.Interfaces.DAL.IAccountDataAccess, Wams.Interfaces" mapTo="Wams.DataAccess.AccountDataAccess, Wams.DataAccess" />
    
  </container>

</unity>
